.container {
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
    div {
        width: 20%;
        margin: 10px 10px 10px 0;
        text-align: left;
        img {
            width: 15vw;
        }
            p{
                margin: 0;
                border: none;
                font-size: 12px
            }
            p:nth-child(2){
                // background: webkit-linear-gradient(to right, #1b91ff, #9f49e3);
                font-weight: 600;
                // background: -webkit-linear-gradient(313.96deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
                margin-top: 10px;
                background: linear-gradient(163.96deg, #1b91ff -.78%,#9f49e3 92.66%) no-repeat;
                text-transform: uppercase;
                font-size: 13px;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
            p:nth-child(4){
                color: #1b91ff
            }
            h4 {
                margin: 1em 0;
            }
    }
    div:hover{
        img:hover {
            transform: scale(1.2);
        }
    }
    .loadingStyle {
        color: #1b91ff;
    }
}

@media (max-width:768px){
    .container {
        margin: 0;
        div {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            width: 100%;
            img {
                width: 90vw;
            }
            p {
                font-size: 14px;
            }
            h4 {
                margin: 1% 3%;
                font-size: 16px;
                text-align: left;
                letter-spacing: 0.5px;
            }
        }
    }
}