.container {
    display: flex;
    justify-content: space-around;
    color: #ccc;
    margin: 10px;
    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 14px;
        a {
            color: #ccc;
            text-decoration: none;
        }
        div {
            svg {
                padding: 8px;
                background-color: #ccc;
                margin-right: 10px;
            }
        }
    }
    section:nth-child(1){
            p {
                margin: 0;
                font-size: 12px;
            }
    }
    section:nth-child(2){
        justify-content: space-around;
    }
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        section {
            margin-bottom: 20px;
            letter-spacing: 3px;
        }
    }
}