.app {
  .tags{
    display: flex;
    margin: 2% 15% 0 15%;
    button {
      padding: 12px 30px;
      border: none;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }
    button:nth-child(1) {
      background: linear-gradient(136.04deg,#1b91ff -.78%,#9f49e3 92.66%) no-repeat;
    }
    .line {
      margin: 0 15% 1% 15%;
    }
  }
}

